// put your styles here
h1 {
    color: #dd3939;
}

//header bar should span the full screen
.header-bar {
    width: 100%;
    height:3rem;
    background-color: #a56a6a;
}

.custom-nav{
    background-color: #a56a6a;
}
